[submodule "submodules/Logger"]
	path = submodules/Logger
	url = https://github.com/Etsitpab/Logger.git
[submodule "submodules/js-glim"]
	path = submodules/js-glim
	url = https://baptiste_mazin@bitbucket.org/gtartavel/js-glim-private.git
[submodule "submodules/TIFFio"]
	path = submodules/TIFFio
	url = https://bitbucket.org/baptiste_mazin/tiffio
[submodule "submodules/SuperCanvas"]
	path = submodules/SuperCanvas
	url = https://bitbucket.org/baptiste_mazin/supercanvas
[submodule "submodules/JPEGReader"]
	path = submodules/JPEGReader
	url = https://bitbucket.org/baptiste_mazin/jpegreader
[submodule "submodules/DNGPRocessor"]
	path = submodules/DNGProcessor
	url = https://bitbucket.org/baptiste_mazin/dngprocessor
[submodule "submodules/UI"]
	path = submodules/UI
	url = https://baptiste_mazin@bitbucket.org/baptiste_mazin/ui.git
[submodule "submodules/JSNA"]
	path = submodules/JSNA
	url = https://bitbucket.org/baptiste_mazin/jsna
[submodule "submodules/Plot"]
	path = submodules/Plot
	url = https://github.com/Etsitpab/Plot
